@media screen and (min-width: 476px) and (max-width:600px){
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
  }

  html {
    font-size: 18px;
    inline-size: 100%;
    block-size: 100%;
  }

  body {
    inline-size: 100%;
    block-size: 100%;
    background-color: hsl(238, 43%, 15%);
  }

  nav {
    display: flex;
    align-items: center;
    inline-size: 100%;
    block-size: 10%;
  }

  nav span {
    height: 2px;
    width: 60px;
    background-color: white;
    position: absolute;
    inset-inline-end: 16px;
    inset-block-start: 48px;

  }

  nav span::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    background-color: white;
    inset-inline-end: 0px;
    inset-block-start: 12px;
  }

  nav span::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    background-color: white;
    inset-inline-end: 0px;
    inset-block-start: -12px;
  }
  .logo {
    block-size: 90px;
    aspect-ratio: 1;
    margin-inline-start: 18px;
    margin-block-start: 8px;
  }

  menu {
    display: none;
    flex-direction: column;
    position: absolute;
    inset-block-start: 10%;
    inset-inline-end: 0;
    inset-inline-start: 50%;
    align-content: center;
    list-style-type: none;
    background-color: white;
    font-size: 0.8rem;
    block-size: 50%;
    border-radius: 3px;
    z-index: 4;
    justify-content: space-around;
  }

  menu li {
    padding-block: 8px;
  }

  menu li a {
    font-size: 1.5rem;
  }
  aside {
    display: relative;
    block-size: 100%;
  }

  aside hgroup {
    font-size: 1.5rem;
    block-size: 40%;
    padding-inline: 16px;
    color: white;
  }
  hgroup {
    padding-block-start: 94px;
  }

  hgroup h1,
  h2 {
    padding-block-end: 16px;
    text-align: center;
  }

  aside img {
    display: block;
    inline-size: 100%;
    block-size: 60%;
    opacity: 0.1;
    inset-block-end: 0;
  }

  hgroup + a {
    display: block;
    text-decoration: none;
    background-color: burlywood;
    z-index: 2;
    color: black;
    position: relative;
    top: 95px;
    inline-size: 50%;
    margin: 0 auto;
    font-size: 2rem;
    block-size: 8%;
    border-radius: 8px;
    padding-block-start: 15px;
    font-weight: 700;
    text-align: center;
  }

  section:nth-of-type(2n + 1) {
    block-size: 100%;
    background-color: pink;
    /* position: absolute; */
    padding: 16px;
    z-index: 6;
  }

  #information h1 {
    text-align: center;
    font-size: 2.5rem;
    padding-block-end: 48px;
    margin-block-start: 48px;
  }

  #information p {
    padding-block: 32px;
    background-color: antiquewhite;
    padding-inline: 16px;
    border-radius: 16px;
    line-height: 1.5;
    font-size: 1.8rem;
    box-shadow: 8px 8px 4px hsl(0, 0%, 60%);
  }

  #information ol {
    list-style-type: none;
    padding: 16px;
    display: flex;
    align-items: center;
    block-size: 60%;
    position: relative;
  }

  #information ol > li:nth-child(4n + 1) {
    text-align: center;
    animation: MoveUpDown 4s infinite;
    animation-delay: 1s;
    position: absolute;
    inset-inline-start: 5%;
  }
  #information ol > li:nth-child(4n + 2) {
    text-align: center;
    animation: MoveUpDown 4s infinite;
    animation-delay: 1.1s;
    position: absolute;
    inset-inline-start: 30%;
  }
  #information ol > li:nth-child(4n + 3) {
    text-align: center;
    animation: MoveUpDown 4s infinite;
    animation-delay: 1.2s;
    position: absolute;
    inset-inline-start: 60%;
  }
  #information ol > li:nth-child(4n + 4) {
    text-align: center;
    animation: MoveUpDown 4s infinite;
    animation-delay: 1.3s;
    position: absolute;
    inset-inline-start: 85%;
  }

  @keyframes MoveUpDown {
    0%,
    100% {
      bottom: 0;
    }
    50% {
      bottom: 80%;
    }
  }

  #information ol > li img {
    block-size: 70px;
    inline-size: 70px;
    display: block;
  }

  section:nth-of-type(2n + 2) {
    block-size: 100%;

  }
  #information2 {
    padding-block-end: 16px;
    background-color: hsl(33, 100%, 88%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #information2 img {
    inline-size: 100%;
  }

  #information2 h1 {
    text-align: center;
    margin-block-start: 8px;
    font-size: 2rem;
    padding-block: 8px;
    color: hsl(180, 50%, 29%);
    box-shadow: 2px 2px 2px hsl(44, 100%, 78%);
    inline-size: 70%;
    margin-inline: auto;
    background-color: hsl(39, 100%, 78%);
    border-radius: 16px;
  }
  #information2 p {
    padding: 16px;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 40px;
  }

  #information2 p + a {
    display: block;
    color: hsl(0, 100%, 100%);
    padding: 16px;
    background-color: hsl(120, 50%, 35%);
    inline-size: fit-content;
    margin-inline: auto;
    border-radius: 8px;
    font-size: 1.5rem;
  }

  main {
    block-size: 100%;
  }

  #cadastro {
    margin-inline: 8px;
    background-color: inherit;
    color: aliceblue;
    block-size: 60%;


  }

  #cadastro h1 {
    text-align: center;
    padding-block-end: 8px;
    font-size: 2rem;
  }

  #cadastro label {
    display: inline;
    inline-size: 100%;
    text-align: right;
    font-size: 1.8rem;
  }

  #cadastro p{
    padding-block-end: 8px;
  }

  #cadastro input {
    display: block;
    inline-size: 100%;
    margin-block-start: 16px;
    height: 40px;
    padding-block-start: 2px;
    font-size: 1.5rem ;

  }

  input::placeholder{
    font-size: 1.2rem;

  }

  form button {
    padding: 8px;
    margin-block-start: 32px;
    inline-size: 90%;
    background-color: hsl(120, 50%, 26%);
    margin-inline: 5%;
    font-size: 1.5rem;
    color: hsl(208, 100%, 97%);
    border-radius: 8px;

  }

  #lista_alunos {
    inline-size: 100%;
    background-color: beige;
    block-size: 40%;
    overflow-y: scroll;
  }

  table {
    margin-inline: auto;
    inline-size: 100%;
  }

  caption {
    padding: 16px;
    inline-size: inherit;
    font-size: 1.8rem;
    font-weight: 600;
  }

  th {
    border: solid 1px hsl(240, 86%, 72%);
    padding-block: 4px;
    text-align: center;
    background-color: hsl(0, 1%, 72%);
  }

  td {
    border: 1px solid pink;
    padding-block: 4px;
    padding-inline: 3px;
  }

  td img {
    block-size: 20px;
    aspect-ratio: 1;
  }

  tr * {
    font-size: 1.5rem;
  }
}
